commands:
    01_postgres_activate:
        command:  sudo yum update && sudo yum install -y postgresql-devel
    02_create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/migration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      source /var/app/venv/*/bin/activate && python3 manage.py migrate
