commands:
    01_postgres_activate:
        command: sudo yum update && sudo yum install -y postgresql-devel
    02_create_post_dir:
        command: "mkdir /var/app/current/.platform/hooks/postdeploy"
        ignoreErrors: true
files:
  "/var/app/current/.platform/hooks/postdeploy/migration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Executing post deployment script"
      export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
      cd /var/app/current
      source /var/app/venv/*/bin/activate && python3 manage.py migrate
