<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:hello_world' %}">My App</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:signup' %}">Sign up</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event-api:event_list' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'song-api:v-song-search' %}">Songs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
